# Java & Gradle
.gradle/
build/
out/

# IDE (IntelliJ)
.idea/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Database (H2 사용 시 생성되는 파일)
*.mv.db
*.trace.db

# Env
.env
.env.*
# allow example template
!.env.example

# application-dev.yaml
*-dev.*

# localstack local cache
localstack/

### QueryDSL ###
# Gradle 기본 빌드 디렉토리 하위 generated 폴더 제외
/build/generated

# IDE의 자체 빌더가 src/main/generated에 생성할 경우 대비
/src/main/generated